/* styles.css */
* {
    margin: 10px;
}


body {
    font-family: Arial, sans-serif;
    color: rgb(52, 52, 52); /* Cor do texto */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;


    /* Configurações do fundo */
    background-image: url('https://t3.ftcdn.net/jpg/08/03/10/74/360_F_803107404_VduenzqhgtEgc9PD43kGJMV3zCWBwBLV.jpg'); /* Substitua pelo caminho da sua imagem */

    /* Diminuir o tamanho da imagem de fundo */
    background-size: 50%; /* Reduz o tamanho da imagem para 25% do seu tamanho original */
    
    background-repeat: repeat; /* Repete a imagem de fundo em toda a tela */
    background-position: center; /* Centraliza a imagem repetida */
    
    /* Cor de fundo semi-transparente */
    background-color: rgba(0, 0, 0, 0.2); /* Aumenta a transparência do fundo */

    /* Mistura a cor de fundo com a imagem */
    background-blend-mode: overlay;
}

header {
    background: linear-gradient(to right, red, orange, green, blue, indigo, violet); /* Cor do cabeçalho da UFABC */
    color: #fff; /* Cor do texto no cabeçalho */
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    margin: -10px;
}


h1, h2 {
    font-family: 'Arial Black', sans-serif;
}

h1#recent-posts {
    background-color: rgba(0, 102, 51, 0.67);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: solid rgb(0,102,51);
}

section {
    background-color: #fff; /* Cor de fundo das seções */
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px;
}

/* Estilo para a seção de autores */
#authorsMenu {
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

#authorsList {
    display: flex;
    flex-wrap: wrap;
}

#authorsList button {
    background-color: rgba(0, 102, 51, 0.67);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

#authorsList button:hover {
    background-color: rgba(0, 102, 51, 0.438);
}

input[type="text"], textarea {
    width: calc(100% - 20px); /* Ajuste para o padding */
    padding: 10px;
    margin: 5px 0;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label {
    margin-bottom: 10px;
}

textarea {
    height: 200px; /* Ajuste a altura conforme necessário */
}

button {
    background-color: rgb(0,102,51); /* Cor do botão */
    color: #fff; /* Cor do texto no botão */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

button#showCreatePost {
    background-color: rgb(0,102,51); /* Cor do botão */
    color: #fff; /* Cor do texto no botão */
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 40px;
    margin-top: 70px;
}

button:hover {
    background-color:rgb(0,102,51); /* Cor de hover do botão */
}



#postList {
    margin-top: 20px;
    border: none;
    box-shadow: none;
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative; /* Define a posição relativa para o post */

    /* Estilos para os botões */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post img {
    max-width: 70%;
    max-height: 70%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border: 5px solid rgb(0,102,51);
    border-radius: 15px;
}

/* Estilos para os botões dentro do post */
.post .actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.post .actions button {
    margin-left: 5px;
}

#author {
    font-weight: bold;
}