/* styles.css */
* {
    margin: 10px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo inspirada na UFABC */
    color: #333; /* Cor do texto */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: rgb(0,102,51); /* Cor do cabeçalho da UFABC */
    color: #fff; /* Cor do texto no cabeçalho */
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

h1, h2 {
    font-family: 'Arial Black', sans-serif;
}

section {
    background-color: #fff; /* Cor de fundo das seções */
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px;
}

input[type="text"], textarea {
    width: calc(100% - 20px); /* Ajuste para o padding */
    padding: 10px;
    margin: 5px 0;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label {
    margin-bottom: 10px;
}

textarea {
    height: 200px; /* Ajuste a altura conforme necessário */
}

button {
    background-color: rgb(0,102,51); /* Cor do botão */
    color: #fff; /* Cor do texto no botão */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

button#showCreatePost {
    background-color: rgb(0,102,51); /* Cor do botão */
    color: #fff; /* Cor do texto no botão */
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 30px;
}

button:hover {
    background-color:rgb(0,102,51); /* Cor de hover do botão */
}



#postList {
    margin-top: 20px;
    border: none;
    box-shadow: none;
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative; /* Define a posição relativa para o post */

    /* Estilos para os botões */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post img {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/* Estilos para os botões dentro do post */
.post .actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.post .actions button {
    margin-left: 5px;
}